code {
  padding: 0.75em !important;
  font-size: 0.95em !important;
  line-height: 1.15em !important;
}

.hljs.dark::selection {
	background: $color-green !important;
}

.hljs.dark span::selection {
	background: $color-green !important;
}
