$color-blue: #0091FF;
$color-white: #ffffff;
$color-red: lighten(#F75D78, 2%);
$color-orange: #FFB034;
$color-green: lighten(#04D892, 1%);
$color-dark-gray: #222;
$color-light-gray: #f0f0f0;
$color-overlay-background: rgba(0, 0, 0, 0.5);
$color-overlay-foreground: #ffffff;
