#why-what {
  background: #000;
  opacity: 1 !important;
}

#why-what .background {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: url('static/images/14750421914_4a9822cf48_b.jpg') no-repeat;
  background-size: cover;
  filter: grayscale(100%) contrast(100%);
  opacity: 0.2;
  z-index: 1;
}

#why-what h2 {
  color: #fff;
  z-index: 100;
  text-shadow: 0px 0px 10px #000;
}
